@using System.Net.Mime
@using System.Web.UI.WebControls
@model StockManagement.Models.ViewModels.StockInViewModel

@{
    ViewBag.Title = "Create Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="wow fadeInDown">Create Stock</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="wow fadeInDown">
        @Html.ActionLink("Back to List", "Index","StockInDetails", new { @class = "btn btn-info" })
    </div>

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="wow fadeInDown">
                @Html.LabelFor(model => model.StockDate, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-4">
                    @Html.EditorFor(model => model.StockDate, new {htmlAttributes = new {@class = "form-control", @Value = DateTime.Now}})
                    @Html.ValidationMessageFor(model => model.StockDate, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="wow fadeInDown">
                @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control", PlaceHolder = "description"}})
                    @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
            <hr/>
            <div class="form-group">
                <div class="wow fadeInDown">
                    @Html.LabelFor(model => model.Categories, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("CategoryDropDown", new SelectList(Model.Categories, "Id", "Name"),"Select Category", htmlAttributes: new {@class = "form-control", id = "categoryDD"})
                        @Html.ValidationMessageFor(model => model.Categories, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="wow fadeInDown">
                    @Html.Label("Product Name", htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-4">
                        @Html.DropDownList("ProductDropDown", null, htmlAttributes: new {@class = "form-control", id = "productDD"})
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="wow fadeInDown">
                    @Html.Label(expression:"Qty", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.TextBox("Qty","", htmlAttributes: new { @class = "form-control",PlaceHolder="Provide qty", id="stockQty"})
                    </div>
                </div>
                <div class="wow fadeInDown">
                    <div class="col-md-offset-1 col-md-5">
                        <input type="reset" class="btn btn-danger" data-dismiss="modal"/>&nbsp;
                        <input id="addToList"type="button" value="Add Item" class="btn btn-success"/>
                    </div>
                </div>
            </div>
            <hr />
            <table id="productTable" class="table table-bordered ">
                <thead>
                    <tr>
                        <th style="width: 10%">SL</th>
                        <th style="width: 50%">Product Name</th>
                        <th style="width: 20%">Quantity</th>
                        <th style="width: 20%">Action</th>
                    </tr>
                </thead>
                <tbody id="tableProducts"></tbody>
            </table>
        </div>

    <div class="wow fadeInDown modal-footer">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="reset" class="btn btn-danger" data-dismiss="detailsTableBody" />&nbsp;*@
                <input id="saveOrder" type="submit" value="Save Stock Item" class="btn btn-warning" />
            </div>
        </div>
}

@section scripts{
<script src="~/Scripts/StockIn/stockin_create.js"></script>
    <script>
        
    </script>
}