@model StockManagement.Models.EntityModels.StockOutDetail

@{
    ViewBag.Title = "StockOutDetail List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="wow fadeInDown">StockOutDetail List </h2>

<div class="wow fadeInDown">
    <hr />
    <dl class="dl-horizontal wow fadeInDown">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockOut.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockOut.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qty)
        </dd>

    </dl>
</div>
<p class="wow fadeInDown">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new {@class="btn btn-warning"})
    @Html.ActionLink("Back to List", "Index",null,new {@class="btn btn-info"})
</p>
