@model StockManagement.Models.EntityModels.Category

@{
    ViewBag.Title = "Delete Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="wow fadeInDown">Delete Category</h2>

<h3 class="wow fadeInDown text-danger">Are you sure you want to delete this?</h3>
<div class="wow fadeInDown">
    <div class="wow fadeInDown">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
    </div>
    <hr/>
    <dl class="dl-horizontal wow fadeInDown">
        <dt>
            @Html.DisplayNameFor(model => model.Name) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions wow fadeInDown">
            <input type="submit" value="Delete" class="btn btn-danger"/>
        </div>
    }
</div>
