@model StockManagement.Models.EntityModels.StockOut

@{
    ViewBag.Title = "Edit StockOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="wow fadeInDown">Edit StockOut</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="wow fadeInDown">
        @Html.ActionLink("Back to List", "Index",null,new {@class="btn btn-info"})
    </div>

    <div class="form-horizontal wow fadeInDown">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group wow fadeInDown">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group wow fadeInDown">
            @Html.LabelFor(model => model.StockOutDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StockOutDate, new { htmlAttributes = new { @class = "form-control",@type="date" } })
                @Html.ValidationMessageFor(model => model.StockOutDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group wow fadeInDown">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-warning" />
            </div>
        </div>
    </div>
}


